<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Snap Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4B4503C1C498E670075E8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B450551C498E670075E8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4B450601C498E680075E8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
